{% extends 'base.html.twig' %}

{% block title %}Hello !{% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    <div class="example-wrapper">

        <table>
            {% for link in links %}
                <tr>
                    <td class="p-2 text-center">
                        {{ link.getReactionDifference() }}
                    </td>
                    <td class="p-2">
                        <a href="{{ path('link_edit', {'id': link.id, 'type': 'upvote'}) }}">
                            <i class="fas fa-caret-up"></i>
                        </a>
                        <a href="{{ path('link_edit', {'id': link.id, 'type': 'downvote'}) }}">
                            <i class="fas fa-caret-down"></i>
                        </a>
                    </td>
                    <th class="p-2">
                        <a href="{{ link.url }}" target="_blank">
                            <h1 class="text-lg text-left">{{ link.title }}</h1>
                            <p class="text-sm text-left" style="color: rgb(55 65 81);">{{ link.url }}</p>
                        </a>
                    </th>
                    <td class="p-2">
                        <a href="{{ path('link_delete', {'id': link.id}) }}"
                           onclick="return confirm('Are you sure you want to delete it?')">
                            <i class="fas fa-trash"></i>
                        </a>
                    </td>

                </tr>
            {% else %}
                <p>no link to see</p>
            {% endfor %}
        </table>
    </div>
{% endblock %}
